<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta htmp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobScrapper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class='container'>
        <h1>Job Scrapper</h1>
        <h4>What job do you want?</h4>
        <!-- 버튼을 누르면 Searh 페이지로 이동 -->
        <form action="/search"> 
            <input type='text' name='keyword' placeholder="Write keyword please" />
            <button>Search</button>
        </form>
    </main>
</body>
</html>