<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta htmp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobScrapper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class='container'>
        <h1>Search Results for "{{keyword}}":</h1>
        <figure>
            <table role ='grid'>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Company</th>
                        <th>Condition</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.position}}</td>
                    <td>{{job.company}}</td>
                    <td>{{job.condition}}</td>
                    <td><a href="{{job.link}}" target='_blank'>Apply now &rarr; </a></td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
        </figure>
    </main>
</body>
</html>
